/*
 * GLOBALS
------------------------------------------------------*/
* {
  box-sizing: border-box;
}



a {
  text-decoration: none;
  font-family: 'Roboto', serif, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}
a:visited {
  color: black;
}



/*
 * ASSETS
------------------------------------------------------*/
.scroll-arrow a {
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: white;
  padding: 18px 15px 22px 15px;
}
.scroll-arrow a i {
  vertical-align: middle;
  text-align: center;
}
.device-icon {
  font-size: 20em;
}

.section:nth-child(even) {
  background-color: gray;
}