/*
 * GLOBALS
------------------------------------------------------*/
* {
  box-sizing: border-box;
}

/* TYPE
-------------------------------------------------------*/
body {
  font: 300 1rem $font-body;
  color: $dark;
}

h1 {
  font: bold 3rem $font-heading;
  color: $light;
}

h2 {
  color: $red;
  font: normal 2.5rem $font-heading;
  text-transform: uppercase;
  margin-top: .25em;
  margin-bottom: .25em;
}

h3 {
  color: $purple;
  font: bold 1.75rem $font-heading;
  text-transform: uppercase;
  margin-top: .25em;
  margin-bottom: .1em;
}

h4 {
  color: $dark;
  font: regular 1.5rem $font-heading;
  text-transform: uppercase;
  margin-top: .25em;
  margin-bottom: .1em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $teal;

  :visited {
	color: $purple;
  }
}



/*
 * ASSETS
------------------------------------------------------*/
.scroll-arrow a {
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: white;
  padding: 18px 15px 22px 15px;
}
.scroll-arrow a i {
  vertical-align: middle;
  text-align: center;
}
.device-icon {
  font-size: 20em;
}

.section:nth-child(even) {
  background-color: gray;
}