
/*
 * LAYOUT
------------------------------------------------------*/

.section {
  width: 100%;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  width: 80%;
}
.row {
  clear: both;
  overflow: hidden;
}
.col {
  float: left;
  padding: 0 15px;
}
@media screen and (min-width: $breakpoint_md) {
  .l0 {
    width: 0;
  }
  .l1 {
    width: $col;
  }
  .l2 {
    width: $col * 2;
  }
  .l3 {
    width: $col * 3;
  }
  .l4 {
    width: $col * 4;
  }
  .l5 {
    width: $col * 5;
  }
  .l6 {
    width: $col * 6;
  }
  .l7 {
    width: $col * 7;
  }
  .l8 {
    width: $col * 8;
  }
  .l9 {
    width: $col * 9;
  }
  .l10 {
    width: $col * 10;
  }
  .l11 {
    width: $col * 11;
  }
  .l12 {
    width: $col * 12;
  }
  .offset-l1 {
    margin-left: $col;
  }
  .offset-l2 {
    margin-left: $col * 2;
  }
  .offset-l3 {
    margin-left: $col * 3;
  }
  .offset-l4 {
    margin-left: $col * 4;
  }
  .offset-l5 {
    margin-left: $col * 5;
  }
  .offset-l6 {
    margin-left: $col * 6;
  }
  .offset-l7 {
    margin-left: $col * 7;
  }
  .offset-l8 {
    margin-left: $col * 8;
  }
  .offset-l9 {
    margin-left: $col * 9;
  }
  .offset-l10 {
    margin-left: $col * 10;
  }
  .offset-l11 {
    margin-left: $col * 11;
  }
  .off-mobile {
    display: block;
  }

  #core-features {
    background: url('../img/vr-man.png') bottom left no-repeat;
    background-size: 65%;
  }
  #Home {
    background: url('../img/header-bg.jpg') no-repeat;
    top:0;
    width:100%;
    z-index:0;
    height: 100%;
    background-size: calc(100% + 500px);
  }
  #Home .container:nth-child(2) {
    height: 100%;
    margin: 0 50px 0 auto;
    padding: 10% 0 5% 5%;
  }
}
