@media screen and (min-width: $breakpoint_sm) {
  .m0 {
    width: 0;
  }
  .m1 {
    width: $col;
  }
  .m2 {
    width: $col * 2;
  }
  .m3 {
    width: $col * 3;
  }
  .m4 {
    width: $col * 4;
  }
  .m5 {
    width: $col * 5;
  }
  .m6 {
    width: $col * 6;
  }
  .m7 {
    width: $col * 7;
  }
  .m8 {
    width: $col * 8;
  }
  .m9 {
    width: $col * 9;
  }
  .m10 {
    width: $col * 10;
  }
  .m11 {
    width: $col * 11;
  }
  .m12 {
    width: $col * 12;
  }
  .off-mobile {
    display: block;
  }
}
