/*Page specific styles*/

/*Contact page*/
#contact {
  h1 {
	display: none;
  }
  ul {
	list-style-type: none;
  }

  li {
	font-size: 1em;
	margin: .5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  li i {
	text-align: center;
  }
  #email-form {
	background-color: $teal;
	textarea {
	  min-height: 10rem;
	}
  }
}

/*shop page*/

#shop {
  form {
	display: inline-block;
  }
  input[type=number] {
	width: 4rem;
  }
  img {
	  width: 100%;
	  height: auto;
	}
  .accessories {
	background-color: $background-alternate;
	padding-bottom: 0;
	margin-bottom: 15px;
  }

  .accessories img {
	position: relative;
	left: -20%;
  }



}