/*Page specific styles*/

/*Index page*/

#Home .button-big,
#applications .button-big,
#devices .button-big,
#core-features .button-big {
  padding: 20px 15px;
  margin: 25px auto;
  @media screen and (max-width: $breakpoint_md) {
    margin-top: 25px;
    font-size: 1rem;
  }
    display: block;
}
#core-features .button-big,
#applications .button-big {
  margin-top: 100px;
  @media screen and (max-width: $breakpoint_md) {
    margin-top: 25px;
  }
}
#Home {
  height: 700px;
  h1 {
    margin: 14% 0 11% 0;
  }
  @media screen and (max-width: $breakpoint_md ) {
    h1 {
      margin: 12% 0 0 11.15%;
    }
  }
  @media screen and (max-width: $breakpoint_sm) {
    h1 {
      margin: 7.5rem 0 0 0;
      font-size: 1.75rem;
      line-height: 3.5rem;
    }
  }
  svg {
    z-index: 10;
    left: 10px;
    margin: 0 0 0 11%;
    position: absolute;
    @media screen and (max-width: $breakpoint_sm) {
      display: none;
    }
  }
}
#core-features {
	min-height: 700px;
    padding-top: 150px;
      background: url('../img/vr-man.png') bottom left no-repeat;
    @media screen and (max-width: $breakpoint_md) {
      padding-top: 60px;
      height: 850px;
      text-align: center;
      background-size: 75%;
      background-position: bottom center;
    }
    @media screen and (max-width: $breakpoint_sm) {
      background-size: 100%;
      height: 750px;
    }
}
#video-section {
  padding: 0;
  video {
    width: 100%;
  }
}
#devices {
  padding: 75px 0;
  .device-icon {
    font-size: 20rem !important;
    color: $lightgray;
    margin: 25px 0;
  }
  .container {
    svg {
      position: absolute;
      @media screen and (max-width: $breakpoint_sm) {
        display: none;
      }
    }

  }
  @media screen and (max-width: $breakpoint_sm) {
    h2 {
        font-size: 2rem;
    }
    .device-icon {
        font-size: 14rem !important;
    }
    h3 {
        font-size: 1rem;
    }
  }
}
#applications {
  padding: 150px 0;
  background-color: $background-alternate;
  height: 900px;
  h4 {
    font-size: 1.5rem;
    line-height: 3.7rem;
  }
  @media screen and (max-width: $breakpoint_md) {
    background-image: url('../img/teal-dash.png');
    background-repeat: repeat-x;
    background-position: 5rem 8rem;
    height: 600px;
  }
  @media screen and (min-width: $breakpoint_md) {
    background-image: url('../img/floatingphone.png'), url('../img/teal-dash.png');
    background-repeat: no-repeat, repeat-x;
    background-position: 85%, 4rem 8rem;
    height: 700px;
    h4 {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: $breakpoint_sm) {
    height: 825px;
    h2 {
      font-size: 2rem;
    }
    h4 {
      line-height: 3rem;
    }
  }
}
#where-to-buy {
  background: $background-alternate;
  img {
    vertical-align: middle;
  }
  h3 {
    font-size: 1.25rem;
    padding: 3rem 0 0 0;
    vertical-align: middle;
  }
  .fade-to {
    opacity: .6;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }
  .fade-to:hover {
    opacity: 1;
  }
}
/*applications page*/

.applications_pg {
  background-color: $background-alternate;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .section:first-child {
    @media screen and (min-width: $breakpoint_md) {
      background: url('../img/headsetphone.png') no-repeat 225% center;
    }
    h3 {
      line-height: 3rem;
    }
    padding: 200px 0;
  }
  .section:nth-child(2) {
    background-color: $dark;
    padding-bottom: 75px;
  }
  .app-row {
    padding: 25px 0;
    min-height: 200px;
    h3 {
      font-size: 1.5rem;
    }
  }
  li {
    color: $teal;
    font-size: 1.5rem;
    h5 {
      margin: 0;
      font-family: "Overpass", sans-serif;
      font-weight: 300;
    }
  }
}
/*shop page*/
.shop-hero {
  min-height: 300px;
  background-image: url('../img/lady.jpeg');
  background-size: cover;
  background-position: 60% 20%;
  @media screen and (min-width: $breakpoint_sm ) {
	min-height: 600px;
  }
}

.hero-text {
  position: relative;
  @media screen and (min-width: $breakpoint_sm) {
	top: 150px;
  }
}
#shop {
  h2 {
	text-align: center;
  }
  h3 {
	text-align: center;
	padding-top: 30px;
  }
  form {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.25rem;
  }
  form * {
	margin: .5rem;
  }
  form p {
	font-weight: bold;
	font-size: 1.5rem;
	width: 6rem;
	text-align: center;
  }
  form label {
	display: none;
  }
  input[type=number] {
	width: 4rem;
  }
  input[type=submit] {
	text-align: center;
  }
  img {
	width: 100%;
	height: auto;
  }
  .accessories {
	background-color: $background-alternate;
	padding-bottom: 0;
	margin-bottom: 15px;
  }
  .accessories img {
	position: relative;
	left: -20%;
	bottom: -.5rem;
	margin-top: -3rem;
  }
}

/*Contact page*/
#contact {
  h1 {
	@extend h2;
  }
  ul {
	list-style-type: none;
  }
  li {
	font-size: 1em;
	margin: .5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  li i {
	text-align: center;
  }
  #email-form {
	background-color: $teal;
	textarea {
	  min-height: 10rem;
	}
  }
}

/*learn page*/

#learn {
  h1 {
	@extend h2;
  }
  img {
	width: 100%;
	height: auto;
  }
  .learn-intro {
	@media screen and (min-width: $breakpoint_md) {
	  background-size: contain;
	  background: url("../img/vr_learn.png") no-repeat left 20% bottom 0;
	  min-height: 500px;
	  display: flex;
	  justify-content: flex-end;
	  align-items: flex-end;
	}
  }
  .learn-diagram {
	background-color: $teal;
  }
  .learn-diagram .fa {
	color: #aaaaaa;
  }
  .learn-diagram h2 {
	text-align: center;
	margin-bottom: 0;
  }

  svg {
	width: 80%;
	display: block;
	margin: 0 auto;
	@media screen and (min-width: $breakpoint_md) {
	  width: 60%;
	}
  }
}

/*privacy page*/

#privacy-header {
  background-color: $teal;
  padding: 5% 0;
}
#privacy {
  padding: 3% 0;
}