
/*colors*/

$background-primary: #ffffff;
$background-alternate: #d5e3e4;
$dark: #0a1f25;
$lightgray: #cccccc;
$light: #ffffff;
$teal: #4a818a;
$lightteal: #61a7af;
$purple: #3b2e80;
$yellow: #f5dd39;
$red: #862753;

/*type*/
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Overpass', sans-serif;

/*grid*/

$col: 8.33333333333333%;
$breakpoint_sm: 480px;
$breakpoint_md: 780px;
