/*variables*/

/*colors*/

$background-primary: #ffffff;
$background-alternate: #d5e3e4;
$dark: #0a1f25;
$light: #ffffff;
$teal: #4a818a;
$purple: #3b2e80;
$yellow: #f5dd39;
$red: #862753;

/*type*/
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Overpass', sans-serif;

