#where-to-buy {
  background: #d5e3e4;
}
#where-to-buy img {
  vertical-align: middle;
}
#where-to-buy .col {
  padding: 20px;
}
#where-to-buy h3 {
  font-size: 1.25rem;
  padding: 3rem 0 0 0;
  vertical-align: middle;
}
.footer {
  background: #0a1f25;
  padding: 0 0 50px 0;
}
