
/*
 * GRID
------------------------------------------------------*/

.section {
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
.col {
  float: left;
  display: block;
  position: relative;
}

@media screen and (min-width: $breakpoint-tablet) {
  .l1 {
    width: $col;
  }
  .l2 {
    width: $col * 2;
  }
  .l3 {
    width: $col * 3;
  }
  .l4 {
    width: $col * 4;
  }
  .l5 {
    width: $col * 5;
  }
  .l6 {
    width: $col * 6;
  }
  .l7 {
    width: $col * 7;
  }
  .l8 {
    width: $col * 8;
  }
  .l9 {
    width: $col * 9;
  }
  .l10 {
    width: $col * 10;
  }
  .l11 {
    width: $col * 11;
  }
  .l12 {
    width: $col * 12;
  }
}