@import '../scss/modules/_normalize.scss';
@import '../scss/partials/_variables.scss';
@import '../scss/partials/_layout_sm.scss';
@import '../scss/partials/_layout_md.scss';
@import '../scss/partials/_layout_lg.scss';
@import '../scss/partials/_base.scss';
@import '../scss/partials/_header.scss';
@import '../scss/partials/_footer.scss';
@import '../scss/partials/_pages.scss';